/* contact page styyles */
body {
  background-image: url('images/ee.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 90%;
  margin: 40px auto 0px;
  padding-bottom: 50px;
}

.contact-info h2 {
  font-size: 35px;
  color: green;
}

.contact-info p {
  font-size: 20px;
  margin-top: 30px;
  line-height: 30px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: flex-end;
  width: 30%;
  min-width: 260px;
}

.contact-container div {
  background-color: transparent;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
}

.contact-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.contact-form .btn {
  background-color: orange;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form .btn:hover {
  background-color: darkorange;
}

